{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
      <br><br>
      <h3 class="page-header">À PROPOS</h3>
        <ol class="breadcrumb">
            <li><a href="{{url_for('home')}}">Accueil</a></li>
            <li>À propos</li>
          </ol>
    </div>
</div>
<div class="card">
  <div class="card-body">
    <h4>
      L’éducation et la formation permettent l’accès à la culture. Et l'école y a une place importante. Elle est à la fois un lieu d'apprentissage pour les jeunes et, un lieu de sociabilité et d'échanges. Et notre solution entend contribuer à offrir au plus grand nombre possible d’enfants et de jeunes ivoiriens les chances de bénéficier de tous les bienfaits de l’école.

 

      <br><br>Dans nombre de localités ivoiriennes, il manque des établissements, les jeunes parcourent souvent de longues distances pour aller à l’école. Ce qui pourrait conduire à la non-scolarisation/déscolarisation et augmenter le taux d’analphabétisme.
      
       
      
      <br><br>Educ'Aid est une plateforme qui va recueillir les besoins réels des populations ivoiriennes en matière d’établissements scolaires. Les données seront fournies par les populations elles-mêmes. Une sorte de crowdsourcing. Une fois vérifiées et validées, les données fournies s’afficheront sur la carte pour la région donnée. Sur la carte, l’on aura accès aux détails de tous les besoins exprimés : nature, localité, population, géographie...
      <br><br>La plateforme présente aussi les données de l'IITA (Initiative internationale pour la transparence de l'aide) en matière d'investissements et d'aide à l'éducation, en Côte d'Ivoire.
    </h4>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
