{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <br><br>
    <h3 class="page-header">SOUMETTRE UN BESOIN</h3>
        <ol class="breadcrumb">
            <li><a href="{{url_for('home')}}">Accueil</a></li>
            <li>Soumettre un besoin</li>
          </ol>
  </div>
</div>
        <div class="row">
          <div class="col-lg-12">
            <div class="">
              <h4><i>Soumettre un besoin</i> consiste à signaler un déficit d'établissements scolaires dans votre localité afin d'aider les <strong>donateurs et le
              gouvernement</strong> à résoudre concrètement vos besoins en matière d'éducation.
              Si vous disposez d'un appareil et d'une connexion Internet, remplissez le formulaire en cliquant sur le bouton ci-dessous :
            </h4>
            <br>
            <br>
            <div class="text-center"><a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSdEEb5qmDz7jBaxpF2h37_Xbpuc0CjJc9eo7K8D4yD6sCVD8g/viewform?usp=sf_link" target="_blank">Soumettre un besoin</a></div>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="">
            <br><br>
            <h4>Si vous ne disposez pas de connexion Internet, nous vous prions de <i>Soumettre un besoin</i>
          en envoyant un SMS ou message indiquant : <strong>vos références (nom et prénom, numéro de téléphone), la situation géographique (localité, population estimée, sous-préfecture, région) et le besoin (école primaire, école secondaire)</strong><br><br>
            </h4>
          </div>
          <div class="">
            <h4>
            <center>
            <strong>(Orange) +22568012524</strong><br><br>
            <strong>(MTN) +22575716984</strong><br><br>
            <strong>(Moov) +22553909013</strong> 
            </center>
            </h4>
          </div>
      </div>

{% endblock %}